# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Go
terraform-provider-aws2
terraform-provider-vm-launcher
terraform-provider-vm_launcher
*.exe
*.test
